* { 
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Helvetica sans-serif;
}

.nav_bar {
    width: 100%;
    height: 100px;
    background-color: rgb(white);
    position: relative;
    
}

.logo {
    position: absolute;
    left: 18px;
    bottom: 22px;
    width: 115px;
    cursor: pointer;
}
.green_leaf {
    position: absolute;
    left: 22%;
    width: 30px;
    bottom: 0;
}
.red_leaf {
    position: absolute;
    width: 40px;
    animation-name: fall_red;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}
@keyframes fall_red {
    0% {
        left: 37%;
        bottom: 100%;
    }
    25% {
      left: 39%;
      bottom: 75%;
    }
    50% {
      left: 37%;
      bottom: 50%;
    }
    75% {
      left: 41%;
      bottom: 25%;
    }
    100%{
        left: 38%;
        bottom: 0;
    }
}

.yellow_leaf {
    position: absolute;
    width: 20px;
    left: 63%;
    bottom: 25%;
    animation-name: fall_yellow;
    animation-delay: 8s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes fall_yellow {
    0% {
        left: 63%;
        bottom: 25%;
    }
    100%{
        bottom: 0;
        left: 63%;
    }
  }
.gold_leaf{
    position: absolute;
    width: 20px;
    animation-name: fall_gold;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    
}
@keyframes fall_gold {
    0% {
        left: 77%;
        bottom: 100%;
    }
    25% {
      left: 75%;
      bottom: 75%;
    }
    50% {
      left: 78%;
      bottom: 50%;
    }
    75% {
      left: 76%;
      bottom: 25%;
    }
    100%{
        left: 77%;
        bottom: 0;
    }
}

.reddish_leaf {
    position: absolute;
    width: 30px;
    animation-name: fall_reddish;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    
}
@keyframes fall_reddish {
    0% {
        left: 1%;
        bottom: 100%;
    }
    25% {
      left: 2%;
      bottom: 75%;
    }
    50% {
      left: 1%;
      bottom: 50%;
    }
    75% {
      left: 3%;
      bottom: 25%;
    }
    100%{
        left: 1%;
        bottom: 0;
    }
}

.brown_leaf {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
}

.searchContainer {
    background-image: url("img/green_forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 90vh;

}
#quote {
    margin-top: 0;
    padding-top: 180px;
    color: white;
    font-size: 35px;
}


#js_search_term {
    display: block;
    margin: 5px auto;
    width: 350px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color:  rgb(63, 60, 60);
}
::placeholder {
    color: rgb(63, 60, 60);
}

.states {
    display: block;
    padding-left: 5px;
    margin: 0 auto;
    cursor: text;
    width: 280px;
    height: 32px;
    font-size: 16px; 
    color: rgb(63, 60, 60);  
    background-color: white;
    cursor: pointer;
  
}
select {
    text-align-last: center;
}

#search_button {
    display: block;
    -webkit-appearance: none;
    margin: 5px auto;
    cursor: text;
    width: 200px;
    height: 28px;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(63, 60, 60);
    background-color: white;
    cursor: pointer;
}
.alert  {
    padding: 10px;
    padding-bottom: 30px;
    background-color: #f44336;
    color: white;
    width: 350px;
    height: 25px;
    margin: 5px auto;
    border-radius: 5px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

.resultContainer {
    background-image: url("img/green_forest.jpg");
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

.result_item {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px none rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}
.thumbnail {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 10px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.result_icon {
    color: forestgreen;
}
.lastContainer {
    position: relative;
    background-image: url("img/green_forest.jpg");
    height: 100vh;
    color: white;
}
#trail_data {
    display: inline-block;
    width: 40%;
    margin-left: 20px;
}

#weather_box {
    float: right;
    margin: 20px;
    text-align: center;
}
.trail_name {
    font-size: 30px;
    text-align: center;
}
.trail_picture {
    width: 500px;
    margin-bottom: 30px;
}

#weather {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 15px;
    line-height: 5px;
}
#weather img {
    max-width: 60px;
}

.days {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px 20px;
}

#map {
    position: absolute;
    top: 275px;
    right: 120px;
}

@media only screen and (max-width: 320px) {
    #js_search_term {
        width: 310px;
    }
    
    #weather{
        font-size: .75em;
    }
    .alert {
        width: 310px;
        font-size: 14px;
    }
    #weather img {
        max-width: 35px;
    }
    #weather{
        font-size: .6em;
    }
    .resultContainer {
        grid-template-columns: 1fr;
    }
    .days {
        padding: 4px 9px;
    }
    .trail_name {
        font-size: 18px;
    }
    .trail_picture {
        width: 310px;
    }

}
@media only screen and (min-width: 321px) and  (max-width: 600px) {
    .lastContainer {
        font-size: .75em;
    }
    #weather{
        font-size: .75em;
    }
    #weather img {
        max-width: 40px;
    }
    .days {
        padding: 5px 10px;
    }
    .trail_name {
        font-size: 20px;
    }
    .trail_picture {
        width: 350px;
    }
}



@media only screen and (min-width: 601px) {
    .logo {
        width: 150px;
        bottom: 10px;
    }
    #quote  {
        font-size: 60px;
    }

    #js_search_term {
    width: 380px;
    height: 50px;
    font-size: 18px;
    }
    .states {
    width: 310px;
    height: 45px;
    font-size: 18px;
    }
    #search_button {
    width: 220px;
    height: 40px;
    font-size: 18px;
    }
    .trail_name{
        top: 175px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 860px) {
    .resultContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 1065px ) {
    .lastContainer {
        height: 100%;
    }

    #weather_box {
        float: none;
    }
    #trail_data, #map {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    #map {
        position: static;
    }
}

