* { 
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica sans-serif;
}

/* 

Header 

*/
.nav_bar {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: rgb(white);
}

.logo {
    margin: 20px 10px;
    width: 115px;
    cursor: pointer;
}

.leaf { 
    width: 20px;
    position: absolute;
}

.animate {
    animation-fill-mode: forwards;
}

#green_leaf {
    left: 28%;
    bottom: 0;
}

#red_leaf {
    animation-name: fall_red;
    animation-duration: 8s;
}

@keyframes fall_red {
    0% {
        left: 37%;
        bottom: 100%;
    }
    25% {
      left: 39%;
      bottom: 75%;
    }
    50% {
      left: 37%;
      bottom: 50%;
    }
    75% {
      left: 41%;
      bottom: 25%;
    }
    100%{
        left: 38%;
        bottom: 0;
    }
}

#yellow_leaf {
    left: 63%;
    bottom: 25%;
    animation-name: fall_yellow;
    animation-delay: 8s;
    animation-duration: 1s;
}

@keyframes fall_yellow {
    0% {
        left: 63%;
        bottom: 25%;
    }
    100%{
        bottom: 0;
        left: 63%;
    }
  }
#gold_leaf{
    animation-name: fall_gold;
    animation-duration: 7s;
}

@keyframes fall_gold {
    0% {
        left: 77%;
        bottom: 100%;
    }
    25% {
      left: 75%;
      bottom: 75%;
    }
    50% {
      left: 78%;
      bottom: 50%;
    }
    75% {
      left: 76%;
      bottom: 25%;
    }
    100%{
        left: 77%;
        bottom: 0;
    }
}

#reddish_leaf {
    animation-name: fall_reddish;
    animation-duration: 10s;
}

@keyframes fall_reddish {
    0% {
        left: 1%;
        bottom: 100%;
    }
    25% {
      left: 2%;
      bottom: 75%;
    }
    50% {
      left: 1%;
      bottom: 50%;
    }
    75% {
      left: 3%;
      bottom: 25%;
    }
    100%{
        left: 1%;
        bottom: 0;
    }
}

#brown_leaf {
    right: 0;
    bottom: 0;
}

/* 

Global CSS 

*/

#container {
    background-image: url("img/green_forest.jpg");
    height: 100%;
}

/* 

Search page 

*/

.searchContainer {
    text-align: center;
    height: 90vh;
}

#quote {
    margin: 0;
    padding: 60px 10px;
    color: white;
    font-size: 27px;
    text-shadow: black 0px 0px 10px;
}

.search {
    position: absolute;
    top: 350px;
    display: block;
    color:  rgb(63, 60, 60);
}

.search_field, .alert {
    width: 300px;
    height: 30px;
    margin: 3px auto;
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
}
#js_search_term {
    text-align: center;
    border: none;
}

#search_button {
    cursor: pointer;
}

select {
    text-align-last: center;
    text-align: -webkit-center;
    cursor: pointer;
}

.alert  {
    padding: 6px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}

/* 

Results Page 

*/

.resultContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

.result_item {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px none rgba(0, 0, 0, 0.8);
    margin: 5px auto;
    padding: 20px;
    width: 300px;
    height: 410px;
    border-radius: 10px;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    cursor: pointer;
}

.result_item:hover {
    background: rgb(197, 196, 196);
}
.trail_thumbnail {
    margin: 25px;
}
.thumbnail {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 10px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.result_icon {
    color: forestgreen;
}

.trail_summary {
    margin-left: 25px;
}

/* 

Details Page 

*/

.lastContainer {
    margin: 0;
    padding-top: 5px;
}

#trail_data {
    width: 300px;
    margin: 5px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
}

#weather_box {
    width: 300px;
    margin: 5px auto;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
#weather {
    display: inline-grid;
    background-color: rgb(29, 84, 179);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 10px;
    color: white;
}

#weather img {
    max-width: 35px;
}

.days {
    border: 1px dotted white;
    border-bottom: none;
    border-top: none;
    text-align: center;
    padding: 8px 8px;
}

.trail_name {
    font-size: 30px;
    text-align: center;
}

.trail_picture {
    width: 90%;
    border-radius: 10px;
}
#trail_stats {
    text-align: left;
    margin-left: 15px;
}
span {
    font-weight: bold;
}

#map {
    width: 300px;
    margin: 5px auto;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    border-radius: 10px;
    padding: 10px 0;
}

#map iframe {
    border: 1px solid black;
    border-radius: 10px;
    width: 280px;
    height: 280px;
}

@media only screen and (min-width: 600px) {
    #container {
        background-size: cover;
    }
    .nav_bar {
        width: 100%;
        height: 120px;
    }
    .logo {
        margin: 30px 20px;
        width: 130px;
    }
    .leaf { 
        width: 25px;
    }
    .search {
        position: relative;
        top: 100px;
    }
    .search_field {
        display: block;
    }
}

/*

Styling for detials page requires different break points

*/


@media only screen and (min-width: 684px) {
    .lastContainer {
        text-align: center;
        margin: 0 auto;
        height: 90vh;
    }
    #trail_data {
        display: inline-block;
        vertical-align: top;
        height: 608px;
    }
    .grouped {
        display: inline-block;
        vertical-align: top;
    }
    #trail_data, #weather_box, #map {
        margin: 20px;
    }
}

@media only screen and (min-width: 835px) {
    #trail_data, #weather_box, #map {
        width: 375px;
    }  
    #trail_data {
        height: 638px;
    } 
    #weather {
        font-size: 13px;
    }
    #weather img {
        max-width: 45px;
    }
    #map iframe {
        width: 350px;
    }
}

/*

End details styling

*/

@media only screen and (min-width: 620px) and (max-width: 959px) {
    .resultContainer {
        grid-template-columns: 1fr 1fr;
        max-width: 700px;
        font-size: 1.2em;
    }
    #quote {
        font-size: 2.5em;
    }
    .search_field {
        width: 590px;
        height: 40px;
        font-size: 1.5em;
    }
    .result_item {
        height: 425px;
    }
}

@media  only screen and (min-width: 960px) {
    .resultContainer {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1050px;
        font-size: 1.3em;
    }
    #quote {
        font-size: 3em;
    }
    .search_field {
        width: 650px;
        height: 45px;
        font-size: 1.75em;
    }
    .result_item {
        height: 450px;
    }
}